<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>{{ d.get('title') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <h2>{{ d.get('foo') }}</h2>
            <p>
                {{ d.get('text') }}
            </p>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class='thumbnail'>
                        <img src="data:image/png;base64,{{ d.get('plot1') }}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Tranche</th>
                            <th>Chênaie</th>
                            <th>Pessière</th>
                        </tr>
                        </thead>
                        {% for row in d.get('table') %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class='thumbnail'>
                        <img src="data:image/png;base64,{{ d.get('plot2') }}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    {{ d.get('table2html') }}
                    <table class="table table-striped table-condensed">
                        {% for row in d.get('table2') %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class='thumbnail'>
                        <img src="data:image/png;base64,{{ d.get('plot3') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>